
@{
    ViewData["Title"] = "Checkout";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Checkout</h1>
<hr />

<div class="row">
    <div class="col-md-8">
        <h4 class="mb-3">Order Details</h4>
        <form action="/" method="post">
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>First Name</label>
                    <input type="text" name="firstName" value="" class="form-control" />
                </div>
                <div class="col-md-6 mb-3">
                    <label>Last Name</label>
                    <input type="text" name="lastName" value="" class="form-control" />
                </div>
            </div>
            <div class="mb-3">
                <label>Address</label>
                <textarea name="address" class="form-control"></textarea>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label>City</label>
                    <input type="text" name="city" value="" class="form-control" />
                </div>
                <div class="col-md-4 mb-3">
                    <label>Phone</label>
                    <input type="text" name="phone" value="" class="form-control" />
                </div>
                <div class="col-md-4 mb-3">
                    <label>Email</label>
                    <input type="text" name="email" value="" class="form-control" />
                </div>
            </div>
            <hr class="mb-4" />
            @*adres bilgisi kayıt edilsinmi şeklinde kullanıcıya sorulacak ve kayıt edilen adres
        order sırasında selectDropDown 'dan secilebiliyor olacak*@
            <div class="custom-control custom-checkbox">
                <input type="checkbox" class="custom-control-input" id="save-info">
                <label class="custom-control-label" for="save-info">Save this information for next time</label>
            </div>
            <hr class="mb-4" />
            @*kullanıcıya ödeme yöntemi sorulacak*@
            <div class="d-block my-3">
                <div class="custom-control custom-radio">
                    <input id="credit" name="paymentMethod" type="radio" class="custom-control-input" checked="" required="">
                    <label class="custom-control-label" for="credit">Credit card</label>
                </div>
                <div class="custom-control custom-radio">
                    <input id="paypal" name="paymentMethod" type="radio" class="custom-control-input" required="">
                    <label class="custom-control-label" for="eft">EFT</label>
                </div>
            </div>
            <h4 class="mb-3">Payment</h4>
            @*kredi kartı bilgilerini kullanıcıdan alalım*@
            <div class="row">
                <div class="col-md-6 mb-3">
                    <label>Name on Credit Cart</label>
                    <input type="text" name="cardName" value="" class="form-control" />
                </div>
                <div class="col-md-4 mb-3">
                    <label>Credit Card Number</label>
                    <input type="text" name="cardNumber" value="" class="form-control" />
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 mb-3">
                    <label>Month</label>
                    <input type="text" name="month" value="" class="form-control" />
                </div>
                <div class="col-md-4 mb-3">
                    <label>Year</label>
                    <input type="text" name="year" value="" class="form-control" />
                </div>
                <div class="col-md-4 mb-3">
                    <label>CVV</label>
                    <input type="text" name="cvv" value="" class="form-control" />
                </div>
            </div>
            <h4 class="mb-3">Payment</h4>
            <button type="submit" class="btn btn-primary btn-lg btn-block">Complete Order</button>
        </form>
    </div>
    <div class="col-md-4 mb-4">
        <h4 class="mb-3">
            <span class="text-muted">Your Cart</span>
        </h4>
        <ul class="list-group mb-3">
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <h6 class="my-0">Product Name</h6>
                    <small class="text-muted">Description</small>
                </div>
                <span class="text-muted">1000 ₺</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <div>
                    <h6 class="my-0">Product Name</h6>
                    <small class="text-muted">Description</small>
                </div>
                <span class="text-muted">1000 ₺</span>
            </li>
            <li class="list-group-item d-flex justify-content-between">
                <span>Total (₺)</span>
                <strong>2000 ₺</strong>
            </li>
        </ul>
    </div>
</div>

