@{
    ViewData["Title"] = "AccessDenied";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="alert alert-danger">
    Yetkinizin Olmadığı Bir Alandasınız!
    Giriş yapmak için lüfen <a asp-controller="Account" asp-action="Login">tıklayınız</a>
</div>