@{
    ViewData["Title"] = "ConfirmEmail";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Confirm Email</h1>
<hr />

<div class="alert alert-warning">
    @if (TempData["messages"] != null)
    {
        @TempData["messages"]
    }
    @if (TempData["messages"] == "Hesabınız Onaylandı.")
    {
        <a href="/Account/Login">Giriş yapmak için tıklayınız.</a>
    }
</div>