@model ProductModel 
@{
    ViewData["Title"] = "CreateProduct";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Create Product</h1>
<hr />

<div class="row">
    <div class="col-md-8">
        <form asp-controller="Admin" asp-action="CreateProduct" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group row">
                <label asp-for="Name" class="col-md-2 col-form-label">Product</label>
                <div class="col-md-10">
                    <input asp-for="Name" class="form-control" value="@Model.Name" />
                    <span asp-validation-for="Name" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="ImageUrl" class="col-md-2 col-form-label">Image Url</label>
                <div class="col-md-10">
                    <input asp-for="ImageUrl" class="form-control" value="@Model.ImageUrl" />
                    <span asp-validation-for="ImageUrl" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Description" class="col-md-2 col-form-label">Description</label>
                <div class="col-md-10">
                    <textarea asp-for="Description" id="editor" class="form-control">@Model.Description</textarea>
                    <span asp-validation-for="Description" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <label asp-for="Price" class="col-md-2 col-form-label">Price</label>
                <div class="col-md-10">
                    <input asp-for="Price" class="form-control" value="@Model.Price" />
                    <span asp-validation-for="Price" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group row">
                <div class="col-md-10 offset-md-2">
                    <button type="submit" class="btn btn-success">Save Product</button>
                </div>
            </div>
        </form>
    </div>
</div>